<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
    var socket = io.connect('http://' + document.domain + ':' + location.port);
   /* var socket =new WebSocket("ws://127.0.0.1:8765/")
    socket.onopen = function(){
        console.log("socket connected")
        socket.send("hello mr server")
    }
    socket.onmessage = function(data){
        console.log(data)
    }*/
    //socket.emit('update', JSON.stringify({"device":"hp","capacity":"5"}));
    socket.on('connect', function (message) {
        socket.emit('evt', JSON.stringify({"device":"hp","capacity":"5"}));
        
      })

    socket.on('update', function(message) {
        var data = JSON.parse(JSON.stringify(message));
        console.log(data)
        $("table").append("<tr><td>" + data.device + "</td><td>" + data.capacity + "</td></tr>");
      });

    /*socket.on("connect", function(){
        console.log("connected") 
        //socket.emit("my_event",{"data":[1,2,3]})
        
    });
    socket.on("getallonlinestoresres", function(data){
        console.log(data)
       
    });*/
  

</script>
</head>
<body>
    <h1>hello</h1>
    <table></table>
</body>
</html>